.home-header
    background: linear-gradient(#e66465, #9198e5)
    padding: 100px 25px 120px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    
    .home-header-text
        text-aligh: center
        color:#fff
            .title 
                font-size: 40px
                font-weight: 700